<div class='page-header'>
  <h1><%= @patient.first_name + ' ' + @patient.last_name %></h1>
</div>

<div class="page-header">
  <%= link_to "+ New Perscription", new_patient_perscription_path(@patient), class: "pull-right" %>
  <h2>Prescriptions</h2>
</div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Medication</th>
      <th>Dosage/Schedule</th>
      <th>Dates</th>
    </tr>
  </thead>
  <tbody>
    <% @perscriptions.each do |perscription| %>
      <tr>
        <td><%= perscription.medication.name %></td>
        <td><%= perscription.dosage + ' ' + perscription.schedule %></td>
        <td><%= perscription.starts_on.strftime('%m/%d/%Y').to_s + ' - ' + perscription.ends_on.strftime('%m/%d/%Y').to_s %></td>
      </tr>
    <% end %>
  </tbody>
</table>
